
@import url(http://fonts.googleapis.com/css?family=Lato:300,700,700italic);


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    
      
}

menu, ol, ul {
padding: 0 0 0 0px;
}

.q_title {
    font-weight: 600;
    color: #62ac2b;
}

p {
    font-size: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
    margin: 0 0 0 0;
    font-family: 'Lato', sans-serif;
}

h3 {
    margin-top: 3%;
}

.content-head { text-align: center;}
.content-head-ribbon { 
    text-align: center;
    margin-top: -3%;
}
.ribbon-text { text-align: center;}


.pure-img-responsive {
max-width: 80%;
height: auto;
margin-top: -3%;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 2%;
padding-bottom: 2%;

  }
#delivery_truck {
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 200%;
}

#form25 {
    display: block;
    margin: 0 auto;
    /*margin-top: -4%;*/
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
    margin: 0 auto;
}

.l-box-lrg {
    padding: 0 3em;
    border-bottom: 0px;
}

#ask-last {
    background-color: #62ac2b;
}


.l-box-lrg.office-r {
    padding: 1em;
    border-bottom: 0px;


}

.is-center {
    text-align: center;
}

.lower-signup-container {
    background-color: transparent;
    border-radius: 10px;
     display: block;
    border: none;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 2%;
   
    
}

/*
 * -- TOP SIGNUP FORM MOBILE --
 */
.notranslate {
    list-style: none; 
    margin-top: 2%;
}

.buttons {list-style: none;}

#saveForm {
    list-style: none;
    background-color: #F5EA37;
    color: #000;
    /* padding: 0.5em 2em; */
    border-radius: 5px;
    padding: .5em 1em .5em 1em;
    margin: 0 auto; 
    display: block;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 18px;
    /* position: center; */
    text-align: center;
    width: 50%; 
}

.signup-middle-page {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 1em;
    width: 96%;
    margin-top: 0.5em;
    display: block;
    margin: 0 auto;
    
    
}

/*#Field3 {
    margin-right: 2em;
    margin-left: 2em;

}*/
#mc-embedded-subscribe {
    background-color: #62AC2B;
    color: #000;
    /* padding: 0.5em 2em; */
    border-radius: 5px;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 18px;
    /* position: center; */
    text-align: center;
    width: 70%;

}

/*
 * -- LOWER SIGNUP FORM MOBILE --
 */

#mc-embedded-subscribe-lower {
    background-color: #f5ea37;
    color: #000;
    /* padding: 0.5em 2em; */
    border-radius: 5px;
    padding: 1em;
    margin-right: auto;
    margin-left: 1%;
    margin-top: 0em;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 18px;
    /* position: center; */
    text-align: center;
    width: 70%;

}

.hide {
    display: none;
}

#mc_embed_signup_lower {
margin-left: -11%;
margin-top: -4%;
}

 /*
 * -- BOTTOM SIGNUP FORM MOBILE --
 */

#mc_embed_signup_bottom_title {
    color: green;
}

#mc_embed_signup_bottom {
    display: block;
}

#fname_bottom {
    display: block;
    width: 80%;

}

#email_bottom {
    display: block;
    width: 80%;
}

#submit_bottom {
    background-color: #62AC2B;
    color: #fff;
    border-radius: 5px;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 18px;
    /* position: center; */
    text-align: center;
    width: 60%;
}


/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */

.form-ask {
    color: #f5ea37;
    font-weight: 300;
}

.form-ask span {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.tell-me-more {
    display: none;
}

.more_questions{
    /*display: inline;*/
    margin-left: 2%;
    color: #fff;
    text-align: center;
    margin-top: -1%;
}
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-form input[type].comments {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 70px;

}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #62ac2b;
    color: white;
    /*padding: 0.5em 2em;*/
    border-radius: 5px;
    padding: .8em .8em ..8em ..8em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 22px;
}

a.pure-button-primary {
    background-color: #62ac2b;
    color: white;
    /*padding: 0.5em 2em;*/
    border-radius: 5px;
    padding: .8em .8em ..8em ..8em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0em;
margin-bottom: 1em;
    font-weight: 800;
    font-size: 22px;
}

a.pure-button-primary.office {
    background-color: #62ac2b;
    color: white;
    /* padding: 0.5em 2em; */
    border-radius: 5px;
    padding: .8em .8em ..8em ..8em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 16px;
    word-spacing: 5px;
}

/*Office Styling for Mobile*/

.pure-form.office label {
    display: inline-block;
    color: #fff;
    font-size: 18px;

}

.pure-form.office input[type] {
    width: 85%;
    border: 2px solid #ddd;
    box-shadow: none;
     padding: 1em;
    /*padding: 1.5em 2em 1.5em 2em;*/
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;

}

.pure-button.office {
    background-color: #f5ea37;;
    color: #000;
    /*padding: 0.5em 2em;*/
    border-radius: 5px;
    padding: .5em 2em .5em 2em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 18px;
    position: center;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */


.home-menu {
    padding: 0.5em;
    text-align: center;
/*    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
*/
}
.home-menu.pure-menu-open {
    background-color: transparent !important;
    border-bottom: 0;

}

#scrolling-header  not-transparent {
    background-color:  #62ac2b;

}

.home-menu.pure-menu-open.not-transparent {
    background-color:  #34495e;
}  

}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none !important;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: rgb(0,0,0,0);
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;

}

#navbar {
    border-bottom: none;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background-image: url('../../img/common/chopchop-bg.jpg');
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: auto;
    background-position-x: 30%;
    background-size: 280%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash-container.office {
    background-image: url('../../img/common/chop_office_bg.jpg');
    background-position-y: -60px;
    background-position-x: center;
    background-size: 260%;

}

.splash-container.home {
    background-image: url('../../img/common/home_delivery.jpg');
    background-position-y: -60px;
    background-position-x: center;
    background-size: 260%;

}


.splash {
    background-color: rgba(0,0,0, .65);
    width: auto;
    height: auto;
    margin-top: -4%;
    position: relative;
    /*top: 3%;*/
    left: 0;
    bottom: 0%;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;

    .content-wrapper {
        position: absolute;
        top: 87%;
        width: 100%;
        min-height: 12%;
        z-index: 5;
        background: white;

}
}

.splash.office {
    top: 25%;
    height: 65%;
    padding-top: 1em;
}

.splash.home {
    top: -42%;
    height: 65%;
    padding-top: 1em;
}

.pure-img-responsive.office {
    /*width: 70%*/;
    width: 20%;
    bottom: -85%;
    margin-right: 0;
    position: relative;
    /* top: 90%; */
}

.pure-img-responsive.home {
    /* width: 70%; */
    width: 20%;
    bottom: 10%;
    margin-left: 80%;
    position: absolute;
    z-index: 200;
    /* top: 90%; */
}
/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none; /*3px solid white;*/
    /*padding: 1em 1.6em;*/
    font-weight: 700;
    border-radius: 5px;
    line-height: 1em;
    padding-bottom: .5em;
    font-size: 250%
    /*font-weight: 700;*/
        
    /*padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;*/
}

.splash-head span {
        font-weight: 200;
        font-style: italic;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
   /* opacity: 0.8;*/
    margin: 0em 0;
    font-size: 100%;
}

.splash-subhead span {
    display: block;
    font-style: italic;
    font-weight: 600;    
}

.splash-subhead.office span {
    display: none;
}

.container-bottom{
margin-top: -2%;}
/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 90%;
    width: 100%;
    min-height: 12%;
    z-index: 5;
    background: white;
    margin-top: 3%;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 4%;
    text-align: center;
}



.content-head.office {
    margin: 0em 0em 0em 0em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
    margin-top: -3%;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #62ac2b;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #62ac2b;
    color: #aaa;
}

.ribbon-text {
    color: #fff;
    text-align: center;
    padding: 0 4% 0 4%;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}




/*MEDIA FOR BIGGER DEVICES*/
 @media (min-width: 960px) {
    /* We increase the header font size even more */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    
      
}

p {
    font-size: 100%;
}
.q_title {
    font-weight: 600;
    color: #62ac2b;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
    margin: 0 0 0 0;
    font-family: 'Lato', sans-serif;
}


.pure-img-responsive {
    max-width: 40%;
    height: auto;
    margin-top: -3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%

  }
#delivery_truck {
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 10%;
    max-width: 200%;

}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 0 8em 0 8em;
    border-bottom: 0px;
}

.l-box-lrg.office-l {
    padding: 2em;
    border-bottom: 0px;
    text-align: left;
}

.l-box-lrg.office-r {
    padding: 2em;
    border-bottom: 0px;

}

.l-box-lrg.office-answers {
    padding-left: 6em;
    padding-right: 12em;
    border-bottom: 0px;
    font-size: 16px;
}

.is-center {
    text-align: center;
}

#saveForm {
    width: 30%; 
    padding: 1em;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */

.pure-form.office {
    margin: 0em 6em 0em 6em;

        input [type] {
            padding: 1em;
            margin: 0 1em 0 1em;
        }
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form.office label {
    display: inline-block;
    color: #fff;
    font-size: 18px;

}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    padding: 1em 2em 1em 2em;
}

.pure-form.office input[type] {
    width: 95%;
    border: 2px solid #ddd;
    box-shadow: none;
    padding: 1em;
    /*padding: 1.5em 2em 1.5em 2em;*/
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;

}

/*
 * -- TOP SIGNUP FORM DESK --
 */
.fname {
    display: inline;
    width: 35%
}
/*.email {
    display: inline;
    width: 65%;
}*/


#mc-embedded-subscribe {
    background-color: #62AC2B;
    color: #000;
    /* padding: 0.5em 2em; */
    border-radius: 5px;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 18px;
    /* position: center; */
    text-align: center;
    width: 40%;

}

.tell-me-more {
    margin-top: 5%;
    color: #fff;
}

/*
 * -- LOWER SIGNUP FORM DESK --
 */

.lower-signup-container {
    background-color: transparent;
    border-radius: 10px;
     display: block;
    border: none;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 2%;
   
    
}

#mc_embed_signup_lower {
   margin-right: auto;
   margin-left: auto;
   margin-top: 2%;
   display: inline;
   margin-bottom:3%;
   width: 100%; 
}

#mc_embed_signup_lower_title{
    color: #f5ea37;
    text-align: center;
    font-weight: 800;
    font-size: 22px; 
}

#mc-embedded-subscribe-lower {
    background-color: #f5ea37;
    display: inline;
    color: #000;
    border-radius: 5px;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-top: 2%;
   

}

 /*
 * -- BOTTOM SIGNUP FORM DESK --
 */

#mc_embed_signup_bottom {
    border:none;
    margin-right: auto;
    margin-left: auto;
}
#mc_embed_signup_bottom_title {
    color: green;
    text-align: center;
    font-weight: 800;
    font-size: 22px; 
}

#mc_embed_signup_bottom {
    display: block;
}

#fname_bottom {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}

#email_bottom {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#submit_bottom {
    background-color: #62AC2B;
    color: #fff;
    border-radius: 5px;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 18px;
    /* position: center; */
    text-align: center;
    width: 60%;
}


#form25 {
    margin-top: 2%;
    margin: 0 auto;
}


.pure-form input[type].comments {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 70px;
}

/*.pure-form.office input [type].comments{
    font-size: 14px;

}*/ 

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #62ac2b;
    color: white;
    /*padding: 0.5em 2em;*/
    border-radius: 5px;
    padding: 1em 1em 1em 1em;
    margin-right: 1em;
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 22px;
}

.pure-button.office {
    background-color: #f5ea37;
    color: #000;
    /*padding: 0.5em 2em;*/
    border-radius: 5px;
    padding: 1em 4em 1em 4em;
    margin-right: 2em;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 22px;
    position: center;
}

a.pure-button-primary {
   /* background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;*/
    background-color: #62ac2b;
    color: white;
    /*padding: 0.5em 2em;*/
    border-radius: 5px;
    padding: .8em .8em ..8em ..8em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 22px;

}

a.pure-button-primary.office {
    background-color: #62ac2b;
    color: white;
    /*padding: 0.5em 2em;*/
    border-radius: 5px;
    padding: .8em .8em ..8em ..8em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 22px;
}


a.pure-button-primary:hover {
    background-color: #f5ea37;
    color: #000; 
    /*font-weight: 1000;*/
    /*font-style: italic; */ 
    padding: .8em .8em ..8em ..8em; 
     border-radius: 5px;
    padding: .8em .8em ..8em ..8em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 22px;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */


.home-menu {
    padding: 0.5em;
    text-align: center;
/*    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
*/
}
.home-menu.pure-menu-open {
    background-color: transparent !important;
    border-bottom: 0;

}

#scrolling-header  not-transparent {
    background-color:  #62ac2b;

}

.home-menu.pure-menu-open.not-transparent {
    background-color:  #34495e;


}  

&.is-sticky {
    background-color: rgba(#f6f1ef, .95)
    border-bottom: 1px solid rgba($base, .1)

}

.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none !important;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: rgb(0,0,0,0);
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;

}

#navbar {
    border-bottom: none;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background-image: url('../../img/common/chopchop-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash-container.office {
    background-image: url('../../img/common/chop_office_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash-container.home {
    background-image: url('../../img/common/home_delivery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 100%;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%%;
    top:  0px;
    left: 0;
    /*position: fixed !important;*/
}

.splash {
    background-color: rgba(0,0,0, .65);
    width: auto;
    height: auto;
    margin-top: -4%;
    position: relative;
    /*top: 3%;*/
    left: 0;
    bottom: 0%;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    .content-wrapper {
        position: absolute;
        top: 87%;
        width: 100%;
        min-height: 12%;
        z-index: 5;
        background: white;

}
}

.splash.office {
    /* absolute center .splash within .splash-container */
    background-color: rgba(0,0,0, .65);
    width: 40%;
    height: 42%;
    margin-left: 5%;
    position: absolute;
    top: 40%; left: 10%; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.splash.home {
    top: -42%;
    width: 42%;
    height: 36%;
    margin-left: 5%;
}
    


/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 40px;
    font-weight: bold;
    color: white;
    border: none; /*3px solid white;*/
    /*padding: 1em 1.6em;*/
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    padding-bottom: 1em;
    font-weight: 700;

        
    /*padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;*/
}


.splash-head span {
        font-weight: 200;
        font-style: italic;
}

.splash-head.office {
    text-align: center;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: .3em;
}

.splash-head.office span {
   display: inline;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
   /* opacity: 0.8;*/
    margin: 0em 0;
    font-size: 22px;
}

.splash-subhead span {
    display: block;
    font-style: italic;
    font-weight: 600;    
}

.splash-subhead.office {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.splash-subhead.office span {
    display: inline;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 5;
    background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    font-size: 30px;
}

.content-head.office {
    margin: 1em 0 0em;
    text-align: center;
    
}


/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #62ac2b;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #62ac2b;
    color: #aaa;
}

.ribbon-text {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-right: 10%;
}

.ribbon-text.home {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4em 0 4em;
}


/* This is the class used for the footer */
.footer {
    background: #111;
}

}

@media (min-width: 1024px) {


.l-box-lrg img {
    display: block;
    margin: 0 auto;
}

#delivery_truck {
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 1%;
    margin-bottom: 1%;
    min-width: 300px;
    /*max-width: 200%;*/
}

}




