<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Chop Chop helps you eat healthy by delivering cut to order organic produce.">

    <title>CHOP CHOP &ndash; Fresh Organic Fruits and Veggies Delivered</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  
<!--<![endif]-->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/marketing.css">
    <!--<![endif]-->

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="icon" type="image/png" href="../img/common/favicon.png">

<!-- Start Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51185255-3', 'auto');
  ga('send', 'pageview');

</script>
<!-- End Google Analytics -->

</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed" id="navbar">
        <img class="pure-img-responsive" alt="Chop Chop Logo"  src="img/common/chop-chop-trans.png"></img>

        <!-- <ul>
            <li class="pure-menu-selected"><a href="#"></a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Office</a></li>
        </ul> -->
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Thanks, We'll Be In touch</h1>
        <p class="splash-subhead">
            Get tasty organic veggies and fruit delivered to you - Fresh the same day we wash and chop it. </br>
            <span>No more wasted produce. </span>
            <button>Share on Facebook</button>
        </p>
        <p>
            <!-- <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Zip</label>
                        <input id="name" type="text" placeholder="Your Zip">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div> -->
            <a href="views/office_delivery.html" class="pure-button pure-button-primary">Office Delivery</a>
            <a href="views/home_delivery.html" class="pure-button pure-button-primary">Home Delivery</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">CHOP CHOP MAKES IT EASY TO EAT THE VEGGIES & FRUIT YOU NEED</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-leaf [&#xf06c;]"></i>
                    Organic Produce
                </h3>
                <p>
                    A large selection, all sourced locally when possible.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-hand-o-right [&#xf0a4;]"></i>
                    Washed the Right Way
                </h3>
                <p>
                    We soak our vegetables in special non-chemical mixtures to ensure cleanliness.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-dot-circle-o [&#xf192;]"></i>
                    Nicely Diced
                </h3>
                <p>
                    Gloved employees with expert cutting skills chop your order.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-refresh [&#xf021;]"></i>
                    Compostable Containers
                </h3>
                <p>
                    All packages can be composted which help us in our effort to reduce waste.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img  class="pure-img-responsive delivery_truck" id="delivery_truck"  alt="Delivery Truck" width="300" src="img/common/delivery_truck.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Delivered Same Day To Your Home or Office</h2>

            <p class="ribbon-text">
                The same day we chop 'em, we delivery 'em! This keeps the product fresh and ready to enjoy for days to come after we deliver it to you.
            </p>
        </div>
      
    </div>
            <div class="l-box-lrg pure-u-1 office">
                <h3>Popular Answers...</h3>
                <p>
                    <span class="q_title">How Much Does CHOP CHOP cost?</span></br>
                    You'll pay a bit extra compared to just buying organic veggies, but that's because we wash, chop, package and deliver your order for you. We keep a low $25 min order, so you can order a few times per week. </br></br>

                     <span class="q_title">How long does CHOP CHOP take?</span></br>
                    As long as you order by 10pm, we'll have your order delivered the next day.  Office orders are delivered first and then home deliveries take place in the early evening, but you can choose your delivery windows. </br></br>

                     <span class="q_title">What does CHOP CHOP do with it's unused produce?</span></br>
                    All produce that isn't used in an order for the day is delivered to a local food shelter to avoid any waste. </br>
                </p>

            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        Copyright CHOP CHOP, LLC. 2014
    </div>

</div>


<script type="text/javascript">
stickHeader = ->
    if Utils.currentScroll > 12
      $(".home-menu").addClass "is-sticky"
    else
      $(".home-menu").removeClass "is-sticky"
</script>

   
<!-- Start BounceX tag -->
<script type="mce-mce-mce-mce-mce-mce-mce-mce-mce-mce-mce-mce-mce-text/javascript">// <![CDATA[
(function(d) {
               var e = d.createElement('script');
               e.src = d.location.protocol + '//bounceexchange.com/bounce/i.js?client_id=460';
               e.async = true;
               d.getElementsByTagName("head")[0].appendChild(e);
        }(document));
]] > </script>
<!-- End BounceX tag -->

</body>
</html>
